<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
 <link rel="stylesheet" href="static\chem.css">
  </head>
  <body>
    <div id="vanta-bg" style="  position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;z-index: -1;"></div>
    <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:white">BEFORE YOU DRINK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" style="color:white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white" href="/about">About</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" style="color:white" href="/display">history</a>
        </li>
        {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           {{request.user.username}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/logoutUser">logout</a></li>
             <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
       {% endif %}
      </ul>
    </div>
  </div>
</nav>
<form class="row g-3 form main" method="POST" action="/main">
  {% csrf_token %}
  <input type="hidden" name="debug" value="1">

  <div class="col-md-6">
    <label for="ph" style="color:white" class="form-label">pH</label>
    <input type="number" class="form-control no-arrows" placeholder="(1-14)" id="ph" name="ph">
  </div>
  <div class="col-md-6">
    <label for="tds" style="color:white" class="form-label">TDS</label>
    <input type="number" class="form-control no-arrows" placeholder="EX:500.," id="tds" name="tds">
  </div>
  <div class="col-12">
    <label for="hardness" style="color:white" class="form-label">Hardness</label>
    <input type="number" class="form-control no-arrows" placeholder="EX:300.," id="hardness" name="hardness">
  </div>
  <div class="col-12">
    <label for="turbidity" style="color:white" class="form-label">Turbidity</label>
    <input type="number" class="form-control no-arrows" name="turbidity" id="turbidity" placeholder="EX:5.,">
  </div>
  <div class="col-md-8">
    <label for="Conductivity" style="color:white" class="form-label">Conductivity</label>
    <input type="number" class="form-control no-arrows" placeholder="EX:1500.,(Optional)" id="Conductivity" name="conductivity">
  </div>

  <button  class="btn btn-primary check w-50 mr-5" >check WQI</button>
    <button type="reset" class="btn btn-success w-50">Reset</button>
  <button type="submit" class="btn btn-success save w-100">save</button><br>
  <p style="color:white"><b style="color:white">Note:</b>if the wqi is negative ,then it is not suitable for drinking</p>
</form>

<div class="res good none">
<h2 id="result"></h2>
 <button class="back btn btn-success">Go Back</button>
</div>

<script src="static\chem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.waves.min.js"></script>
<script>
VANTA.WAVES({
  el: "#vanta-bg",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200,
  minWidth: 200,
  scale: 1,
    speed: 1.2,          // 🔥 ADD THIS
  cloudSpeed: 1.5,     // 🔥 ADD THIS
  density: 1.3,
   lightColor: 0xffffff,
  backgroundColor: 0x0e1621
})
</script>
  </body>
</html>