

nav{
background-color: transparent !important;
    font-size:15px !important;
    color:white;
}
.nav-link{
    font-size:x-large;
}

.form{
    border:2px solid whitesmoke;
    width:400px;
    margin:auto;
    margin-top:7vh;
   padding:2rem;
   border-radius:10px;
   backdrop-filter: blur(5px);
   box-shadow:0px 0px 10px whitesmoke;
}
.res{
     border:2px solid whitesmoke;
    width:400px;
    height: 348px;
    margin:auto;
    margin-top:7vh;
   padding:2rem;
   border-radius:10px;
   backdrop-filter: blur(5px);
   box-shadow:0px 0px 10px whitesmoke;
}
.none{
    display:none;
}
h1{
    font-size:100px;
    justify-self: center;
    margin:auto;
    position: absolute;
    z-index:-1;
    font-family:'Times New Roman', Times, serif;
color:rgb(243, 243, 30);
box-shadow:0px 10px 12px yellow;
border-radius:10px;
}
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}
.no-arrows[type="number"]{
    -moz-appearance:textfield;
}
label{
    font-size:17px !important;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
    html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Fullscreen animated background */
#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}